/* @keyframes BackgroundAnim {
    0%{
        background-image: url('../../tela_inicial/background.png');
    }
    50%{
        background-image: url('../tela_inicial/background-noite.jpg');
    }
    100%{
        background-image: url('../tela_inicial/background.png');
    }
} */

body {
    background: url('../tela_inicial/bg-capa.png') no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
  
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.sr-only{
    position: absolute!important;
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    margin: -1px!important;
    overflow: hidden!important;
    clip: rect(0,0,0,0)!important;
    white-space: nowrap!important;
    border: 0!important;
}
.btVideo{
    background: url('../../assets/img/Video_apresentacao_pq_layout.png') no-repeat;
    width: 236px;
    height: 226px;
    position: absolute;
    top: 10%;
    left: 50%;
    border: none;
    background-size: 90%;
    display: block;
    margin: 10px auto;
    transition: all 0.2s;
}
.btVideo:hover {
    transform: scale(1.1);
}
.modal-dialog .modal-content{
    background: url('../../assets/img/video_bg.png') no-repeat center;
    width: 1133px;
    height: 708px;
    border: none;
    padding: 100px 200px;
    background-size: 85%;
}
.modal-dialog .modal-content p{
    color: #fff;
    clear: both;
    margin-bottom: 20px;
    padding: 15px;
}
.btnFechar{
    color: #fff;
    clear: both;
}

.div-geral{
    width: 1100px;
    height: 100%;
    position: relative;
    margin: auto;
}

.img-capa{
    position: absolute;
    right: 0;
    width: 720px;
    height: 520px;
    top: 50%;
    margin-top: -220px;
}

.div-conteudo{
    position: absolute;
    width: 380px;
    height: 210px;
    left: 40px;
    top: 50%;
    margin-top: -140px;
}
.texto-capa{
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    color: #fff;
    margin-bottom: 20px;
}
.btn-iniciar{
    display: block;
    background-color: #c78023;
    color: #000;
    font-size: 28px;
    font-weight: bold;
    width: 140px;
    height: 55px;
    border: #fff solid 2px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    padding-top: 4px;
    transition: all 0.2s;
}
.btn-iniciar:hover{
    transform: scale(1.1);
    color: #fff;
}

#titulo-area{
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 400px;
}

#videoplay{
    width: 200px;
    position: absolute;
    bottom: 5%;
    left: 70%;
}
#logo{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
}
#wrapper {
    height: 100vh;
    width: 100vw;
    background-image: url('../tela_inicial/bg_fundo.svg');
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    animation: BackgroundAnim 9s infinite;
}
.menu {
    position: absolute;
    bottom: 85px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu a {
    width: 382px;
    height: 273px;
    display: block;
    background-position: center;
}


/* Modal vídeo */
.backdrop {
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: #33333395;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .modal-video {
    width: 1100px;
    height: 650px;
    background-image: url('../../tela_inicial/Video-apresentacao-gd.png');
    background-position-x: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 100px;
    padding-left: 210px;
    color: white;
} */

.ytb {
    width: 560px;
    height: 315px;
    display: block;
    margin: 15px;
}

.fechar {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    display: block;
    float: right;
    margin-right: 320px;
    padding: 5px 15px;
}

.fechar:hover {
    background-color: white;
    color: #007981;
}

.btn-video {
    width: 227px;
    height: 227px;
    background-image: url('../tela_inicial/Video-apresentacao-pq.png');
    padding-left: 28px;
    padding-top: 25px;
    color: white;
    position: absolute;
    left: 25px;
    top: 25px;
    z-index: 89;
}
.btn-video:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.img-play {
    height: 100px;
    margin-left: 22px;    
}

#logoMobile{
    position: absolute;
    right: 10px;
    width: 20%;
}
.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, .7);
 
}

.modal-video {
    background-image: url('../tela_inicial/video_bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 754px;
    height: 572px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-video .wrapper {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    /* margin-left: -60px;
    margin-top: -82px; */
}
.modal-video iframe {
    box-shadow: 2px 2px 2px #333;
    height: 280px;
    width: 460px;
    margin: 10px auto;
    display: block;
}
.modal-video p {
    font-family: 'Poppins', Arial, sans-serif;
    color: white;
    width: 80%;
    margin: 10px auto;
    text-align: center;
}
#fechar-video {
    font-family: 'Poppins', Arial, sans-serif;
    position: absolute;
    right: 40px;
    top: -40px;
    border: none;
    height: 30px;
    width: 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
    background-color: #5ea6a6;
    border: 1px solid #498080;
    cursor: pointer;
}
#fechar-video:hover {
    box-shadow: 2px 2px 2px #333;
}

@media (max-width: 900px) {
    .menu {
        width: 100%;
        display: grid;
    }
    .menu a {
        width: 382px;
        height: 200px;
    }
   
    /* .menu{
        bottom: 210px;
    } */
}

@media (max-width: 700px) {
    /* .modal-video {
        width: 95%;
        margin: 5px;
        background-image: unset;
        background-color: #007981;
        height: auto;
        padding: 15px;
    } */
    
    .modal-video .wrapper {
        margin-top: -120px;
    }
    .modal-video p{
        width: 300px;
    }
    /* .modal-video .wrapper{
            margin-left: -160px;
        } */
    .ytb {
        height: 200px !important;
        width: 300px !important;
        
        margin: 5px;
        width: 95%;
    }
    /* .btn-video {
        top: 830px;
        background-image: unset;
        background-color: #007981;
        height: auto;
        padding: 15px 25px;
        box-shadow: 3px 3px 6px #333;
        border-radius: 5px;
        text-align: center;
    } */
    .img-play {
        display: none;
    }
}

@media screen and (max-width:550px){
    .modal-video .wrapper {
        margin-top: -160px;
    }
    .modal-video{
        background-size: 100% 80%;
    }
}

@media screen and (max-width:1030px){
    .modal-dialog .modal-content{
        background-size: 30%;
        background-position: center;
        background: unset;
        max-width: 100%;
        padding: 50px;
        background: #007981;
    }
    .btVideo {margin-left: 40px;}
    #garota{width: 35%;}
}

@media screen and (max-width:820px){
    .div-geral{
        width: 100%;
    }
    .img-capa{
        top: unset;
        margin-top: unset;
        bottom: 5%;
    }
    #logo{
        top: 20px;
        right: 20px;
        width: 150px;
    }

    .div-conteudo {
        position: absolute;
        width: 380px;
        height: 210px;
        left: 40px;
        top: 22%;
        margin-top: unset;
    }

    .btVideo {
        width: 30%;
        top: 20%;
        margin-left: 120px;
    }
}

@media screen and (max-width:480px){
    #titulo-area{
        left: 10px;
        top: 14%;
    }
    .div-conteudo{
        left: 20px;
    }
    .img-capa{
        display: none;
    }
    .btVideo{
        position: absolute;
        top: unset;
        bottom: 5%;
        left: 50%;
        width: 236px;
        margin: unset;
        margin-left: -118px;
        display: block;
    }
    #logo {
        top: 20px;
        right: 20px;
        width: 150px;
        scale: 0.5;
    }
    .texto-capa {margin-top: 15%;}
    .btn-iniciar {margin-left: 25%;}
 
}

@media screen and (max-width:376px){
    #garotaMobile{margin-top: 155px !important;
    width: 70% !important;}
    #nuvemPensamentoMobile{margin-top: 28px !important;}
    #btIniciarMobile{margin-top: 130px;}
}