.section-hq {
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  margin: 0%;
  margin-top: 0%;
}

#sombra{
	height:3px;
}

.fundo {
  background-color: #a16565;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 5rem !important;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  color: white;
}

.seta {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.proximo {
  font-size: 25px !important;
}

.fonte {
  font-family: 'Patrick Hand', cursive !important;
}

.tam-fonte {
  font-size: 20px;
}

.esconde {
  display: none;
}

/*************************************************************************/
/*************************** estilo pagina um ****************************/
/*************************************************************************/

#page-1 {
  position: static;
}

#page-3 {
  margin-bottom: 2px;
}


