.conteudo {
    background-color: white;
    width: 1920px;
    height: 1080px;
    position: fixed;
    left: calc(50% - 1920px / 2);
    top: calc(50% - 1080px / 2);
    margin: auto;
    overflow: hidden;
}

/**********************************************************/
/******************* vire o celular ***********************/
/**********************************************************/

.p-paisagem {
    color: white;
    text-align: center;
}

.img-paisagem {
    max-width: 70% !important;
    height: auto;
    display: block;
}

.modo-smart {
    display: none
}

@media only screen and (orientation: portrait) {
    .modo-smart {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: fixed;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #7c88e7;
        z-index: 9999999999999999999;
    }
}

.left-0 {
    left: 0px;
}

/**********************************************************/
/****************** estilo botoes *************************/
/**********************************************************/

.btn-transparente {
    border-radius: 100%;
    border: 1px solid aliceblue;
}

.btn-transparente:hover {
    background-color: #f3e38e;
    opacity: 0.4;
}

.meuBotao {
    background-color: #d5b847;
    color: #151515;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    right: 46px;
    top: 28px;
    border-radius: 45px;
    border: 4px solid black;
    width: 182px;
    height: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
    font-size: 25px;
}

.meuBotao i {
    font-size: 40px;
    vertical-align: middle;
}

.controle-som {
    background-color: #d5b847;
    text-decoration: none;
    display: inline-block;
    border-radius: 40px;
    border: 4px solid black;
    width: 71px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
    font-size: 9px;
    right: 49px;
    top: 4px;
}

.controle-som i {
    vertical-align: middle;
}

#fullInicial {
    right: 46px;
    top: 28px;
}

.exibir {
    left: 236px;
    top: 28px;
    background-color: #d5b847;
    color: #151515;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 45px;
    border: 4px solid black;
    width: 182px;
    height: 101px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
}

.exibir i {
    vertical-align: middle;
}

.btnFullScreen {
    left: 32px;
    top: 28px;
    background-color: #d5b847;
    color: #151515;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 45px;
    border: 4px solid black;
    width: 182px;
    height: 101px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
}

.btnFullScreen i {
    vertical-align: middle;
}

.btn-ampliar:hover {
    background-color: #66240e !important;
    color: white !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined {
    font-size: 40px !important;
}


/**************************************************************/
/******************** posição dos botões **********************/
/**************************************************************/

#conteudo-01 {
    top: 297.6px;
    left: -22px;
    width: 705px;
    height: 230px;
}

#conteudo-02 {
    top: 447.6px;
    left: 240.5px;
    width: 179px;
    height: 439px;
}

#conteudo-03 {
    top: -4.4px;
    left: 684px;
    width: 606px;
    height: 550px;
}

#conteudo-04 {
    top: 40px;
    left: 990px;
    width: 948px;
    height: 533px;
}

#conteudo-05 {
    top: 361px;
    left: 1185px;
    width: 652px;
    height: 597px;
}

/**********************************************************/
/********************* estilo modais **********************/
/**********************************************************/

.header-um {
    background-color: #5c0064;
    color: white;
}

.header-dois {
    background-color: #ed3fbd;
    color: white;
}

.header-tres {
    background-color: #5d2323;
    color: white;
}

.header-quatro {
    background-color: #ff9200;
    color: white;
}

.header-cinco {
    background-color: #e3c14b;
    color: black;
}


#pb-btn-dois {
    top: 472px;
}

#pb-btn-seis {
    left: 0px;
    width: 189px;
    top: 0px;
}

#pb-btn-quatro {
    right: 0px;
    top: 46.5px;
}




.nao-clicavel {
    Touch-action: none;
    Pointer-events: none;
    User-select: none;
}